<div class="mt-4">
    <h3>Đăng Khóa Học</h3>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="" class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Mô tả</label>
            <input type="text" class="form-control" name="description" id="description">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Video ID</label>
            <input type="text" class="form-control" name="videoId" id="videoId">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Trình độ</label>
            <input type="text" class="form-control" name="level" id="level">
        </div>
        
        <button type="submit" class="btn btn-primary">Thêm Khóa Học</button>
    </form>
</div>